/* -----------------------------------------
 Become franchise form
----------------------------------------- */
.become-franchise-form {
	&__btn {
		padding :27px 40px;
		font-size: 20px;
		font-weight: 700;
	}
	.franchise-form {
		&__inner {
			margin-left :0;
			margin-right :auto;
			padding-left :0;
			&:before {
				content :none;
			}
		}
		&__item {
			&:nth-child(2) {
				text-align :right;
			}
		}
	}
}