/* -----------------------------------------
 Header
----------------------------------------- */
.header {
	position            :relative;
	padding-top         :204px;
	padding-bottom      :121px;
	background-repeat   :no-repeat;
	background-position :50%;
	background-size     :cover;
	@include max-width(xxs) {
		padding-bottom :30px;
	}
	&--padding {
		padding-top :173px;
	}
}
.head-top {
	position       :fixed;
	top            :0;
	left           :0;
	right          :0;
	text-transform :capitalize;
	color          :$white;
	z-index        :99;
	transform :translateY(0);
	transition :transform 0.3s ease;
	@include max-width(sm) {
		position :absolute;
	}
	&.scroll-down {
		transform :translateY(-52px);
	}
}
.top-line {
	position         :relative;
	font-size        :14px;
	font-weight      :700;
	background-color :#000;
	@include max-width(sm) {
		display :none;
	}
	
	&__inner {
		display     :flex;
		flex-wrap   :wrap;
		align-items :center;
	}
}
.location-link {
	display        :flex;
	align-items    :center;
	margin-right   :auto;
	letter-spacing :0.6px;
	color          :$yellow;
	transition     :color 0.3s ease;
	&:hover {
		color :$white;
		svg {
			fill :$white;
		}
	}
	svg {
		margin-left         :5px;
		width               :10px;
		height              :15px;
		fill                :$yellow;
		transition          :0.3s ease;
		transition-property :fill, transform;
	}
	&:hover,
	&:focus {
		svg {
			transform :translateX(4px);
		}
	}
}
.hover-line {
	position         :absolute;
	content          :'';
	top              :0;
	left             :0;
	display          :block;
	height           :4px;
	width            :0;
	border-radius    :0 0 10px 10px;
	background-color :$red;
	transition       :left 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, width 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	&--bottom {
		top           :calc(100% - 3px);
		border-radius :10px 10px 0 0;
	}
}
.second-nav {
	&__list {
		display     :flex;
		align-items :center;
		
		& > li {
			position :relative;
			&:last-child {
				& > a {
					padding-right :0;
				}
			}
			&.menu-item-has-children {
				& > a {
					&:after {
						content :'\203a';
					}
				}
			}
			& > a {
				position      :relative;
				padding-left  :12px;
				padding-right :14px;
				&:after {
					content   :none;
					position  :absolute;
					top       :13px;
					right     :0;
					font-size :20px;
					transform :rotate(90deg);
				}
			}
		}
		li {
			letter-spacing :0.5px;
			a {
				display        :block;
				padding-top    :16px;
				padding-bottom :16px;
				transition     :color 0.3s ease;
				&:hover {
					color :$red;
					& + .sub-menu {
						transform :scale(1, 1);
					}
				}
			}
			.sub-menu {
				position         :absolute;
				left             :0;
				top              :100%;
				width            :200%;
				z-index          :1;
				border-radius    :0 0 10px 10px;
				transform        :scale(1, 0);
				transition       :transform 0.3s ease;
				transform-origin :100% 0;
				background-color :$main;
				&:hover {
					transform :scale(1, 1);
				}
				li {
					padding-left :15px;
					&:not(:last-child) {
						border-bottom :1px solid #E6E6E6;
					}
				}
			}
		}
	}
}
.head-nav {
	position         :relative;
	font-weight      :700;
	background-color :rgba(0, 0, 0, 0.6);
	&__inner {
		display        :flex;
		flex-wrap      :wrap;
		align-items    :center;
		padding-top    :4px;
		padding-bottom :3px;
		@include max-width(sm) {
			flex-wrap :nowrap;
		}
	}
	&__img {
		max-width :198px;
		transition :max-width 0.3s ease;
		.scroll-down & {
			max-width :145px;
		}
		a {
			display :block;
		}
	}
}
.main-nav {
	margin-left :auto;
	@include max-width(md) {
		width      :69%;
		text-align :right;
	}
	&__list {
		display     :flex;
		flex-wrap   :wrap;
		align-items :center;
		@include max-width(lg) {
			display      :block;
			column-count :3;
		}
		@include max-width(sm) {
			display :none;
		}
		li {
			margin-left    :50px;
			letter-spacing :0.5px;
			@include max-width(1260px) {
				margin-left :40px;
			}
			@include max-width(lg) {
				margin-left   :25px;
				margin-bottom :5px;
			}
			@include max-width(md) {
				margin-left :0;
			}
			a {
				transition :color 0.3s ease;
				&:hover,
				&:focus {
					color :$red;
				}
			}
		}
	}
}
.intro {
	padding          :53px 73px 28px 21px;
	width            :100%;
	max-width        :586px;
	font-family      :$second-font;
	font-size        :34px;
	font-weight      :400;
	line-height      :1.25;
	letter-spacing   :2px;
	color            :$white;
	background-color :rgba(0, 0, 0, 0.6);
	@include max-width(sm) {
		font-size :28px;
	}
	@include max-width(xxs) {
		padding :15px;
	}
	&__title {
		padding-left  :9px;
		margin-bottom :26px;
		span {
			color :$yellow;
		}
	}
}