/* -----------------------------------------
	News
----------------------------------------- */
.block-news {
	padding-top      :21px;
	padding-bottom   :25px;
	background-color :#F7F8F8;
	@include max-width(sm) {
		padding-top :30px;
	}
	&__title {
		margin-bottom :20px;
		text-align    :center;
	}
	&__item {
		margin-bottom :26px;
	}
	&__action {
		text-align :center;
		.btn {
			padding :20px 43px;
		}
	}
}
.news {
	border :1px solid #E1E1E1;
	&__img {
		position :relative;
		img {
			@supports (object-fit:cover) {
				width      :100%;
				height     :100%;
				object-fit :cover;
			}
			
		}
	}
	&__date {
		position         :absolute;
		top              :0;
		left             :0;
		padding          :9px 13px;
		width            :64px;
		height           :64px;
		font-family      :$second-font;
		font-size        :16px;
		font-weight      :400;
		line-height      :1;
		text-transform   :uppercase;
		letter-spacing   :1.44px;
		background-color :$yellow;
		&--number {
			font-size   :28px;
			font-weight :400;
		}
	}
	&__title {
		margin-bottom :5px;
		font-family   :$second-font;
		font-size     :28px;
		font-weight   :400;
		line-height   :1.3;
	}
	&__body {
		padding        :10px 13px 21px;
		line-height    :1.5;
		letter-spacing :0.4px;
		
	}
	&__footer {
		padding        :10px;
		font-size      :14px;
		font-weight    :700;
		text-transform :uppercase;
		border-top     :1px solid #E1E1E1;
	}
}
