/* -----------------------------------------
 Services
----------------------------------------- */
.services {
	@include max-width(sm) {
		padding-top :30px;
	}
	.container {
		@extend %section-border;
		padding-bottom :19px;
		text-align     :center;
		.home & {
			padding-top    :36px;
			padding-bottom :32px;
			@include max-width(sm) {
				padding-top :0;
			}
		}
	}
	&__title {
		margin-bottom :5px;
	}
	&__desc {
		width         :100%;
		max-width     :439px;
		margin-left   :auto;
		margin-right  :auto;
		margin-bottom :48px;
	}
	&__action {
		margin-top :19px;
	}
	.btn {
		padding :20px 52px;
		@include max-width(sm) {
			padding :16px 34px;
		}
	}
}
.service {
	margin-bottom :45px;
	&:nth-child(3n + 4) {
		clear :both;
		@include max-width(md) {
			clear :none;
		}
		
	}
	@include max-width(md) {
		&:nth-child(2n + 3) {
			clear :both;
		}
	}
	&__icon {
		display          :flex;
		justify-content  :center;
		align-items      :center;
		margin-left      :auto;
		margin-right     :auto;
		padding          :5px;
		width            :84px;
		height           :84px;
		border-radius    :50%;
		background-color :$red;
		img {
			width :auto;
			max-width :100%;
			height :auto;
		}
	}
	&__title {
		margin-bottom :10px;
		font-family   :$second-font;
		font-size     :20px;
		font-weight   :400;
	}
}