/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* -----------------------------------------
 Default settings
----------------------------------------- */

* {
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

body,
html {
  min-height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.43;
  font-weight: 400;
  height: auto;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
input {
  margin: 0;
  padding: 0;
}

h3,
h4 {
  font-family: "Barlow", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

h4 {
  font-size: 28px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

input,
textarea {
  border: 0;
}

textarea {
  max-width: 100%;
  resize: vertical;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

svg {
  width: 100%;
  height: 100%;
}

.z-index {
  position: relative;
  z-index: 1;
}

/*---button--*/

.btn-wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: #FD0;
}

.btn-wrap--bg-red {
  background-color: #DB302C;
}

.btn-wrap--bg-red .btn {
  color: #FFF;
}

.btn-wrap--bg-white {
  background-color: #FFF;
}

.btn-wrap--bg-white .btn {
  color: #DB302C;
}

.btn-wrap:hover .btn-wrap__shadow,
.btn-wrap:focus .btn-wrap__shadow {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.btn-wrap:hover .btn,
.btn-wrap:focus .btn {
  color: #FFF;
}

.btn-wrap:hover .btn svg,
.btn-wrap:focus .btn svg {
  fill: #FFF;
}

.btn-wrap__shadow {
  position: absolute;
  display: block;
  width: 950px;
  height: 950px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.btn {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 25px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.7px;
  overflow: hidden;
  color: #000;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  z-index: 1;
}

.btn svg {
  width: 10px;
  height: 15px;
  margin-left: 10px;
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.w50 {
  width: -webkit-calc(50% - 12px);
  width: calc(50% - 12px);
}

span.wpcf7-not-valid-tip {
  color: #FD0;
}

input.wpcf7-not-valid {
  -webkit-box-shadow: inset 0 0 5px #DB302C;
  box-shadow: inset 0 0 5px #DB302C;
}

.services .container {
  border-bottom: 1px solid #D4D4D4;
}

.section-title {
  font-family: "Barlow", sans-serif;
  color: #DB302C;
  text-align: center;
}

.slick-slide {
  outline: 0;
}

.excerpt_link {
  position: relative;
  padding-bottom: 2px;
  color: #DB302C;
  margin-left: 5px;
  white-space: nowrap;
}

.excerpt_link:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1px;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  background-color: currentColor;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.excerpt_link:hover:before,
.excerpt_link:focus:before {
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

input::-moz-placeholder {
  text-overflow: ellipsis;
}

textarea:-ms-input-placeholder {
  text-overflow: ellipsis;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ababab;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ababab;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ababab;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus,
textarea:focus,
button:focus,
a:focus {
  outline: none;
}

input:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 0 2px #FD0;
  box-shadow: 0 0 0 2px #FD0;
}

/* -----------------------------------------
 Header
----------------------------------------- */

.header {
  position: relative;
  padding-top: 204px;
  padding-bottom: 121px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.head-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-transform: capitalize;
  color: #FFF;
  z-index: 99;
}

.top-line {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  background-color: #000;
}

.top-line__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.location-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: auto;
  letter-spacing: 0.6px;
  color: #FD0;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.location-link:hover {
  color: #FFF;
}

.location-link:hover svg {
  fill: #FFF;
}

.location-link svg {
  margin-left: 5px;
  width: 10px;
  height: 15px;
  fill: #FD0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: fill, -webkit-transform;
  transition-property: fill, -webkit-transform;
  transition-property: fill, transform;
  transition-property: fill, transform, -webkit-transform;
}

.location-link:hover svg,
.location-link:focus svg {
  -webkit-transform: translateX(4px);
  -ms-transform: translateX(4px);
  transform: translateX(4px);
}

.hover-line {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  display: block;
  height: 4px;
  width: 0;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  background-color: #DB302C;
  -webkit-transition: left 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, width 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: left 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, width 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.hover-line--bottom {
  top: -webkit-calc(100% - 3px);
  top: calc(100% - 3px);
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.second-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.second-nav__list li {
  margin-left: 24px;
  letter-spacing: 0.5px;
}

.second-nav__list li a {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-transition: coloe 0.3s ease;
  transition: coloe 0.3s ease;
}

.second-nav__list li a:hover {
  color: #DB302C;
}

.head-nav {
  position: relative;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.6);
}

.head-nav__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 3px;
}

.main-nav {
  margin-left: auto;
}

.main-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav__list li {
  margin-left: 50px;
  letter-spacing: 0.5px;
}

.main-nav__list li a {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.main-nav__list li a:hover,
.main-nav__list li a:focus {
  color: #DB302C;
}

.intro {
  padding: 53px 73px 28px 21px;
  width: 100%;
  max-width: 586px;
  font-family: "Barlow", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 2px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
}

.intro__title {
  padding-left: 9px;
  margin-bottom: 26px;
}

.intro__title--color {
  color: #FD0;
}

/* -----------------------------------------
 Franchise form
----------------------------------------- */

.franchise-form {
  padding-top: 33px;
  padding-bottom: 34px;
  background-color: #FD0;
  color: #000;
}

.franchise-form__inner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 45px;
  margin-left: 45px;
  padding-left: 60px;
}

.franchise-form__inner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 56px;
  background: url(../img/icons/franchise-icon.svg) 50% no-repeat;
  background-size: contain;
}

.franchise-form__item {
  width: -webkit-calc(40% - 15px);
  width: calc(40% - 15px);
}

.franchise-form__item:first-child {
  margin-right: 30px;
  width: -webkit-calc(60% - 15px);
  width: calc(60% - 15px);
}

.franchise-form__title {
  font-size: 38px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 1.1;
}

.franchise-form__desc {
  font-size: 16px;
  font-weight: 700;
}

.franchise-form input[type="text"] {
  border: 1px solid #b7b7b7;
  background-color: #ffffff;
}

.franchise-form__label {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 10px;
}

.franchise-form__label input {
  width: 100%;
  padding: 15px 17px;
  border: 1px solid #b7b7b7;
  background-color: #FFF;
}

.franchise-form .wpcf7-form {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.franchise-form .wpcf7-response-output {
  position: absolute;
  top: 105%;
  left: 0;
  right: 0;
  margin: 0;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  color: #FFF;
}

.franchise-form .wpcf7-response-output.wpcf7-mail-sent-ok {
  background-color: #398f14;
}

.franchise-form .wpcf7-response-output.wpcf7-validation-errors {
  background-color: #DB302C;
}

.franchise-form .wpcf7-not-valid-tip {
  display: none !important;
}

.franchise-form .btn-wrap {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.franchise-form .btn {
  padding: 16px 38px;
}

/* -----------------------------------------
 Services
----------------------------------------- */

.services .container {
  padding-top: 36px;
  padding-bottom: 32px;
  text-align: center;
}

.services__title {
  margin-bottom: 5px;
}

.services__desc {
  width: 100%;
  max-width: 439px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.services__action {
  margin-top: 19px;
}

.services .btn {
  padding: 20px 52px;
}

.service {
  margin-bottom: 45px;
}

.service:nth-child(3n + 4) {
  clear: both;
}

.service__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 84px;
  height: 84px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #DB302C;
}

.service__title {
  margin-bottom: 10px;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

/* -----------------------------------------
 Services
----------------------------------------- */

.services-cat {
  padding-top: 39px;
  padding-bottom: 22px;
}

.services-cat__title {
  margin-bottom: 3px;
  text-align: center;
}

.services-cat__desc {
  width: 100%;
  max-width: 434px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  text-align: center;
}

.services-cat .btn-wrap {
  display: block;
}

.services-cat .btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 18px;
}

.services-cat-item {
  margin-bottom: 30px;
}

.services-cat-item__img {
  height: 201px;
}

.services-cat-item__img img {
  height: 100%;
  width: auto;
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .services-cat-item__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

/* -----------------------------------------
 Testimonials
----------------------------------------- */

.testimonials {
  padding-top: 57px;
  padding-bottom: 34px;
  background-color: #F7F8F8;
}

.testimonials__title {
  margin-bottom: 40px;
  text-align: center;
}

.testimonials .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.testimonials .slick-dots li {
  display: block;
  margin-left: 3.5px;
  margin-right: 3.5px;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 1px #D7D7D7, inset 0 0 0 0 #000;
  box-shadow: inset 0 0 0 1px #D7D7D7, inset 0 0 0 0 #000;
  background-color: #FFF;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  cursor: pointer;
}

.testimonials .slick-dots li.slick-active {
  -webkit-box-shadow: inset 0 0 0 0 #D7D7D7, inset 0 0 0 20px #000;
  box-shadow: inset 0 0 0 0 #D7D7D7, inset 0 0 0 20px #000;
}

.testimonials .slick-dots li button {
  font-size: 0;
}

.testimonials-slide {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 400;
  font-style: italic;
}

.testimonials-slide__info {
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.35;
  text-align: right;
}

.testimonials-slide blockquote {
  font-family: "Barlow", sans-serif;
  padding: 29px 34px;
  background-color: #FFF;
  font-size: 20px;
  line-height: 1.3;
}

/* -----------------------------------------
	News
----------------------------------------- */

.block-news {
  padding-top: 57px;
  padding-bottom: 4px;
  background-color: #F7F8F8;
}

.block-news__title {
  margin-bottom: 40px;
  text-align: center;
}

.block-news__item {
  margin-bottom: 30px;
}

.news {
  border: 1px solid #E1E1E1;
}

.news__img {
  position: relative;
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .news__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.news__date {
  position: absolute;
  top: 0;
  left: 0;
  padding: 9px 13px;
  width: 64px;
  height: 64px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.44px;
  background-color: #FD0;
}

.news__date--number {
  font-size: 28px;
  font-weight: 400;
}

.news__title {
  font-family: "Barlow", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.news__body {
  padding: 17px 13px 21px;
}

.news__footer {
  padding: 16px 15px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-top: 1px solid #E1E1E1;
}

/* -----------------------------------------
 Footer
----------------------------------------- */

.footer {
  color: #FFF;
}

.foot-top {
  padding-top: 41px;
  padding-bottom: 11px;
  background-color: #DB302C;
}

.contact-form__title,
.projects__title {
  margin-bottom: 24px;
}

.contact-form__desc,
.projects__desc {
  margin-bottom: 29px;
}

.contact-form__item {
  padding: 0;
  margin: 0 0 24px;
  border: 0;
}

.contact-form__item input,
.contact-form__item select,
.contact-form__item textarea {
  width: 100%;
  padding: 14px 11px;
  color: #000;
}

.contact-form__item select {
  padding: 14px 31px 14px 11px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  background: #FFF url(../img/icons/select-arrow.svg) no-repeat 98% 50%;
  cursor: pointer;
}

.contact-form__item select::-ms-expand {
  display: none;
}

.contact-form__item label {
  display: inline-block;
}

.contact-form__item label.w50:first-of-type {
  margin-right: 24px;
}

.contact-form__action {
  text-align: right;
}

.contact-form__action .btn {
  padding: 25px 34px;
}

.projects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: -10px;
  margin-left: -10px;
}

.projects__title,
.projects__desc {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.projects__action {
  width: 100%;
  text-align: center;
}

.projects__action .btn {
  padding: 25px 37px;
}

.project {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.project__img {
  width: 129px;
  height: 129px;
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .project__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.foot-bottom {
  padding-top: 22px;
  padding-bottom: 20px;
  background-color: #000;
  color: #f7f8f8;
  font-size: 12px;
  font-weight: 400;
}

.foot-bottom__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.foot-nav {
  display: inline-block;
  margin-left: auto;
}

.foot-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.foot-nav__list li {
  margin-left: 20px;
}

.foot-nav__list li a {
  position: relative;
  padding-bottom: 2px;
}

.foot-nav__list li a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1px;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  background-color: #FFF;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.foot-nav__list li a:hover:before,
.foot-nav__list li a:focus:before {
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

.copyright {
  display: inline-block;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.copyright a {
  position: relative;
  padding-bottom: 2px;
}

.copyright a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1px;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  background-color: #FFF;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.copyright a:hover:before,
.copyright a:focus:before {
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

@media (min-width: 1200px) {
  .container {
    width: 1230px;
  }
}

@media screen and (max-width: 1260px) {
  .main-nav__list li {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .main-nav__list {
    display: block;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .main-nav__list li {
    margin-left: 25px;
    margin-bottom: 5px;
  }

  .franchise-form__inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
  }

  .franchise-form .btn {
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (max-width: 992px) {
  .main-nav {
    width: 69%;
    text-align: right;
  }

  .main-nav__list li {
    margin-left: 0;
  }

  .franchise-form .btn {
    padding-left: 22px;
    padding-right: 22px;
  }

  .service:nth-child(3n + 4) {
    clear: none;
  }

  .service:nth-child(2n + 3) {
    clear: both;
  }

  .projects {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .foot-bottom__inner {
    display: block;
    text-align: center;
  }

  .foot-nav {
    margin-bottom: 15px;
  }

  .foot-nav__list li {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 10px 35px;
  }

  .head-top {
    position: absolute;
  }

  .franchise-form__inner {
    display: block;
  }

  .franchise-form__item:first-child {
    width: 100%;
  }

  .franchise-form__item {
    width: 100%;
  }

  .franchise-form__desc {
    margin-bottom: 30px;
  }

  .services .btn {
    padding: 16px 34px;
  }

  .services-cat {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .testimonials {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .block-news {
    padding-top: 30px;
  }

  .contact-form__action .btn {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .projects__action .btn {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 480px) {
  .franchise-form__inner {
    padding-left: 0;
  }

  .franchise-form__inner:before {
    content: none;
  }

  .franchise-form__title {
    font-size: 32px;
    margin-bottom: 12px;
  }

  .contact-form__title,
  .projects__title {
    margin-bottom: 12px;
  }

  .contact-form__desc,
  .projects__desc {
    margin-bottom: 12px;
  }
}