/* -----------------------------------------
 Breadcrumbs
----------------------------------------- */
.breadcrumbs {
	margin-bottom :27px;
	font-size     :14px;
	font-weight   :400;
	line-height   :1.64;
	&__inner {
		@extend %section-border;
		padding-top    :17px;
		padding-bottom :17px;
		& > span {
			padding-left  :13px;
			padding-right :13px;
			@include max-width(xxs) {
				padding-left :5px;
				padding-right :5px;
			}
			&:first-child {
				padding-left :0;
			}
		}
	}
	a {
		@extend %link-border;
		color    :$red;
	}
}