/* -----------------------------------------
 Pagination
----------------------------------------- */
.pagination {
	text-align :center;
	.search-results & {
		margin-bottom :30px;
	}
}
.wp-pagenavi {
	display :inline-block;
}
.wp-pagenavi a:hover,
.wp-pagenavi span.current {
	border-color :$red;
}