@import 'variables';

input::-moz-placeholder     {text-overflow:ellipsis;}
textarea:-ms-input-placeholder {text-overflow:ellipsis;}    

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #ababab;
	font-size: 16px;
	font-style :italic;
	font-weight: 400;
	transition: color 0.3s ease;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #ababab;
	font-size: 16px;
	font-style :italic;
	font-weight: 400;
	transition: color 0.3s ease;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #ababab;
	font-size: 16px;
	font-style :italic;
	font-weight: 400;
	transition: color 0.3s ease;
}

//--Remove placeholder on field focus--
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder          {color: transparent;}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder      {color: transparent;}

input:focus,
textarea:focus,
button:focus,
a:focus {
	outline: none;
}

input:focus,
textarea:focus {
	box-shadow: 0 0 0 2px $yellow;
}


@mixin placer($fz, $fw) {
	&::-webkit-input-placeholder{
		font-weight: $fw;
		font-size :$fz;
		font-style :normal;
		transition: color 0.3s ease;
	}
	&:-moz-placeholder{
		font-weight: $fw;
		font-size :$fz;
		font-style :normal;
		transition: color 0.3s ease;
	}
	&::-moz-placeholder{
		font-weight: $fw;
		font-size :$fz;
		font-style :normal;
		transition: color 0.3s ease;
	}
	&:-ms-input-placeholder{
		font-weight: $fw;
		font-size :$fz;
		font-style :normal;
		transition: color 0.3s ease;
	}
}

@mixin placer-1($color) {
	&::-webkit-input-placeholder{
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.5px;
		transition: color 0.3s ease;
		color: $color;
	}
	&:-moz-placeholder{
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.5px;
		transition: color 0.3s ease;
		color: $color;
	}
	&::-moz-placeholder{
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.5px;
		transition: color 0.3s ease;
		color: $color;
	}
	&:-ms-input-placeholder{
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.5px;
		transition: color 0.3s ease;
		color: $color;
	}
}
