/* -----------------------------------------
 Blog page
----------------------------------------- */
.blog {
	.page-content {
		@extend %section-border;
		margin-bottom  :26px;
		padding-bottom :30px;
		@include max-width(sm) {
			&:not(:last-of-type) {
				margin-bottom :30px;
			}
		}
	}
	.services-cat {
		@include max-width(sm) {
			padding-top :0;
		}
	}
}

