/* -----------------------------------------
 Page
----------------------------------------- */
.page-content {
	@extend %section-border;
	margin-bottom  :26px;
	padding-bottom :40px;
	@include max-width(sm) {
		margin-bottom :0;
	}
	.entry-header {
		text-align :left;
	}
	&__item {
		@include max-width(767px) {
			&:first-of-type {
				margin-bottom :20px;
			}
		}
	}
}

