/* -----------------------------------------
 Page
----------------------------------------- */
.page-content {
	margin-bottom :36px;
	padding-bottom :34px;
	border-bottom :1px solid #d4d4d4;
	.entry-header {
		text-align :left;
	}
}