/* -----------------------------------------
 Single Page
----------------------------------------- */
.entry-content {
	p {
		&:not(:last-child) {
			margin-bottom :30px;
		}
	}
	@extend %section-border;
	margin-bottom  :36px;
	padding-bottom :34px;
	.entry-header {
		text-align :left;
	}
}

